mixin stylesheet_link_tag(src)
  link(rel='stylesheet' href='/stylesheets/' + src + '.css')

mixin font_link(src)
  link(href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet")

mixin javascript_include_tag(src, ...rest)
  script(type="text/javascript" src="/javascripts/" + src + ".js")
  each file in rest
    script(type="text/javascript" src="/javascripts/" + file + ".js")